:root {
    --light: #faf8f8;
    --dark: #141021;
    --secondary: #dbdbdb;
    --tertiary: #38ffac;
    --visited: #afbfc9;
    --primary: #f28482;
    --gray: #3f3f3f;
    --lightgray: #f0f0f0;
    --outlinegray: #dadada;
    --million-progress-bar-color: var(--secondary);
    --highlighted: #8446ff88;
    --header: #ffaca1;
    --title: rgb(255, 164, 136);
    --scrollbar: gray;
    --scrollbar-track: #DDD;
}

[saved-theme="dark"] {
    --light: #1e1e21 !important;
    --dark: #f7f2fa !important;
    --secondary: #ff4a50 !important;
    --visited: #65ef3a !important;
    --tertiary: #121011 !important;
    --primary: #f58382 !important;
    --gray: #d4d4d4 !important;
    --lightgray: #292633 !important;
    --outlinegray: #343434 !important;
    --highlighted: #574010;
    --header: #ff6e6e;
    --title: rgb(224, 47, 47);
    --scrollbar: rgb(177, 177, 177);
    --scrollbar-track: rgb(51, 51, 51);
}